<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/media/styles/Contact.css">
</head>

<body>

<div class="container1">

<img src="../asset/media/img/norcal.png" class="logo">
  <h1>NorCal Time Trials Series</h1>  
</div>


<div class="container2">

<div><img class="image" src="../asset/media/img/car-race-g70c097629_1280.jpg" alt="bluecar">
    </div>         
</div>


<div class="container3">

    <nav class="navbar">
        <ul>
            <li class="homebox">
                <a href="./Home.html" class="home"> Home</a>
            </li>
               <li class="aboutbox">
                <a href="./About.html" class="about">About</a>
            </li>
            <li class="informationbox">
                <a href="./Information.html" class="information">Information</a>
            </li>
               <li class="rulesbox">
                <a href="./OurRules.html" class="safetyrules">Our Rules</a>
            </li>
               <li class="contactbox">
               <a href="./Contact.html  " class="contact">Contact</a>
            </li>
            <li class="formbox">
                <a href="./Form.html" class="form">Sign Up!</a>
             </li>
        </ul>
    </nav>
    
     <div class="contact-mail">

        <div>Please email us at: <a href=info@nctts.org>info@nctts.org</a></div>
        <div>We will reply as quickly as we can.</div>
     </div>
</div>
</body>
</html>