<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/media/styles/Form.css">
</head>
<body>
    <div class="container1">

        <img src="../asset/media/img/norcal.png" class="logo">
          <h1>NorCal Time Trials Series</h1>  
        </div>
        
        
        <div class="container2">

        <h2>Registration Form</h2>
        </div>

        <div class="container3">
            <nav class="navbar">
                <ul>
                    <li class="homebox">
                        <a href="./Home.html" class="home"> Home</a>
                    </li>
                       <li class="aboutbox">
                        <a href="./About.html" class="about">About</a>
                    </li>
                       <li class="informationbox">
                        <a href="./Information.html" class="information">Information</a>
                    </li>
                       <li class="rulesbox">
                        <a href="./OurRules.html" class="safetyrules">Our Rules</a>
                    </li>
                       <li class="contactbox">
                       <a href="./Contact.html  " class="contact">Contact</a>
                    </li>
                    <li class="formbox">
                        <a href="./Form.html" class="form">Sign Up!</a>
                     </li>
        
                </ul>
            </nav>
            
            <div class="registrationform">
                <form>
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name= "FirstName">
                <br>
                <label for="secondname">Second Name</label>
                <input type="text" id="secondname" name="SecondName">
                <br>
                <label for="streetadress">Street Address</label>
                <input type="text" id="streetname" name="Street Address">
                <br>
                <label for="city">City</label>
                <input type="text" id="city" name="City">
                <br>
                <label for="zipcode">Zip Code</label>
                <input type="text" id="zipcode" name="Zip Code">
                <br>
                <label for="age">Age</label>
                <input type="text" id="age" name="Age">
                <br>
                <p>Gender</p>
                <input type="checkbox" name="gender" value="male">Male<br>
                <input type="checkbox" name="gender" value="female">Female<br>
                <label for="phone">Contact Phone</label>
                <input type="text" id="phone" name="Phone">
                <br>
                <label for="email">Contact Email</label>
                <input type="text" id="email" name="Email">
                <br>
                <h3>Motorsports Organization Membership?</h3>
                <input type="checkbox" name="Membership" value="SportsCarClubofAmerica(SCCA)">Sports Car Club of America (SCCA)<br>
                <input type="checkbox" name="Membership" value="NationalAutosportAssociation(NASA)">National Autosport Association (NASA)<br>
                <input type="checkbox" name="Membership" value="None">None<br>
                <h3>Previous Competitive Experience</h3>
                <input type="checkbox" name="Experience" value="None">None<br>
                <input type="checkbox" name="Experience" value="HPDE/Track Days">HPDE/Track Days<br>
                <input type="checkbox" name="Experience" value="Autocross">Autocross<br>
                <input type="checkbox" name="Experience" value="OneYear">One Year<br>
                <input type="checkbox" name="Experience" value="TwoYears">Two Years<br>
                <input type="checkbox" name="Experience" value="OverTwoYears">Over Two Years<br>
                <h3>Racing License</h3>
                <input type="checkbox" name="License" value="None">None<br>
                <input type="checkbox" name="License" value="SCCA">SCCA<br>
                <input type="checkbox" name="License" value="NASA">NASA<br>
                <input type="checkbox" name="License" value="FIA">FIA<br>
                <h3>I agree that I will abide by all the rules of the NorCal Time Trial Series (NCTTS). I recognize that Motorsports are inherently dangerous. I hereby release, discharge, and/or otherwise indemnify NCTTS, their employees and associated personnel and volunteers, including the facilities used for events, against any claim by or on behalf of the registrant as a result of my participation in the series. 
                    By signing below, I hereby agree and authorize the above.</h3>
                <label for="date">Date</label>
                <input type="text" id="date" name="Date">
                <br>   
                <input class="send" type="submit" name="Send" value="Send Form"><br>
                </form>





                 




 


           


                

          </form>    


</body>
</html>