<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/media/styles/Information.css">
</head>
<body>
    <div class="container1">

    <img src="../asset/media/img/norcal.png" class="logo">
    <h1>NorCal Time Trials Series</h1>  
    </div>
        
        
    <div class="container2">
        
        <div class="navigationbar">
        <nav class="navbar">
            <ul>
                <li class="homebox">
                    <a href="./Home.html" class="home"> Home</a>
                </li>
                   <li class="aboutbox">
                    <a href="./About.html" class="about">About</a>
                </li>
                <li class="informationbox">
                    <a href="./Information.html" class="information">Information</a>
                </li>
                <li class="rulesbox">
                    <a href="./OurRules.html" class="safetyrules">Our Rules</a>
                </li>
                   <li class="contactbox">
                   <a href="./Contact.html  " class="contact">Contact</a>
                </li>
                <li class="formbox">
                    <a href="./Form.html" class="form">Sign Up!</a>
                 </li>
            </ul>
        </nav>
        </div>
    
    <div class="datatable">    
    <table>
        <tr>
            <th>Locations</th>
            <th>Spring Schedule</th>
            <th>Times</th>
            <th>Additional Information</th>
            <th>Questions</th>
        </tr>
        <tr>
            <td>Sonoma Raceway (formerly called Sears Point)29355 Arnold Dr, Sonoma, CA</td>
            <td>April 9</td>
            <td><p>Gates open at 7AM</p>
                <p>First car out 9AM</p>
                <p>Gates close 5AM</p>
            </td>
            <td>If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions. </td>
            <td>Michael Randall, Event Coordinator
                Phone: (415) 690-8132 Email: michael.randall@nctts.org
                </td>
        </tr>
        <tr>
            <td>Thunderhill Raceway Park 5250 CA-162, Willows, CA</td>
            <td>March 12</td>
            <td><p>Gates open at 7AM</p>
                <p>First car out 9AM</p>
                <p>Gates close 5AM</p></td>
            <td>If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions.</td>
            <td>Michael Randall, Event Coordinator 
                Phone: (415) 690-8132 Email: michael.randall@nctts.org</td>
        </tr>
        <tr>
            <td>WeatherTech Raceway Laguna Seca 1021 Monterey Salinas Hwy, Salinas, CA</td>
            <td>May 14 / May 28</td>
            <td><p>Gates open at 7AM</p>
                <p>First car out 9AM</p>
                <p>Gates close 5AM</p></td></td>
            <td>If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions.</td>
            <td>Michael Randall, Event Coordinator 
                Phone: (415) 690-8132 Email: michael.randall@nctts.org</td>
        </tr>
    </table>
    </div>


</body>
</html>