<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/media/styles/Information.css">
</head>
<body>
    <div class="container1">

    <img src="../asset/media/img/norcal.png" class="logo">
    <h1>NorCal Time Trials Series</h1>  
    </div>
        
        
    <div class="container2">
        
        <div class="navigationbar">
        <nav class="navbar">
            <ul>
                <li class="homebox">
                    <a href="./Home.html" class="home"> Home</a>
                </li>
                   <li class="aboutbox">
                    <a href="./About.html" class="about">About</a>
                </li>
                <li class="informationbox">
                    <a href="./Information.html" class="information">Information</a>
                </li>
                <li class="rulesbox">
                    <a href="./OurRules.html" class="safetyrules">Our Rules</a>
                </li>
                   <li class="contactbox">
                   <a href="./Contact.html  " class="contact">Contact</a>
                </li>
                <li class="formbox">
                    <a href="./Form.html" class="form">Sign Up!</a>
                 </li>
            </ul>
        </nav>
        </div>
    
    <div class="datatable">    
    <table>
        <tr>
            <th>Locations</th>
            <th>Spring Schedule</th>
            <th>Times</th>
            <th>Additional Information</th>
            <th>Questions</th>
        </tr>
        <tr>
            <td>Sonoma Raceway (formerly called Sears Point)29355 Arnold Dr, Sonoma, CA <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3137.110275683265!2d-122.45689388473845!3d38.16087659762427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085aee4fafa9ce7%3A0x27b6f31a35f5ee5b!2sSonoma%20Raceway!5e0!3m2!1ses!2ses!4v1663923721711!5m2!1ses!2ses" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
            <td>April 9</td>
            <td><p>Gates open at 7AM</p>
                <p>First car out 9AM</p>
                <p>Gates close 5AM</p>
            </td>
            <td>If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions. </td>
            <td>Michael Randall, Event Coordinator
                Phone: (415) 690-8132 Email: michael.randall@nctts.org
                </td>
        </tr>
        <tr>
            <td>Thunderhill Raceway Park 5250 CA-162, Willows, CA <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.901415504497!2d-122.33483118470282!3d39.539277916457564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808300c80a69468f%3A0x19fa0a2cd52110fd!2sThunderhill%20Raceway%20Park!5e0!3m2!1ses!2ses!4v1663924355881!5m2!1ses!2ses" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
            <td>March 12</td>
            <td><p>Gates open at 7AM</p>
                <p>First car out 9AM</p>
                <p>Gates close 5AM</p></td>
            <td>If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions.</td>
            <td>Michael Randall, Event Coordinator 
                Phone: (415) 690-8132 Email: michael.randall@nctts.org</td>
        </tr>
        <tr>
            <td>WeatherTech Raceway Laguna Seca 1021 Monterey Salinas Hwy, Salinas, CA <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.777050213247!2d-121.75544178477782!3d36.58359013756263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808df089bfd5341b%3A0xddbb6644155538c0!2sLaguna%20Seca!5e0!3m2!1ses!2ses!4v1663924443454!5m2!1ses!2ses" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
            <td>May 14 / May 28</td>
            <td><p>Gates open at 7AM</p>
                <p>First car out 9AM</p>
                <p>Gates close 5AM</p></td></td>
            <td>If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions.</td>
            <td>Michael Randall, Event Coordinator 
                Phone: (415) 690-8132 Email: michael.randall@nctts.org</td>
        </tr>
    </table>
    </div>
</body>
</html>