<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the NorCal Time Trials Series</title>
    <link rel="stylesheet" href="../asset/media/styles/OurRules.css">
</head>
<body>
    <div class="container1">

    <img src="../asset/media/img/norcal.png" class="logo">
    <h1>NorCal Time Trials Series</h1>  
    </div>

    <div class="midiamcontainer">
    <div><h2>Safety Rules</h2></div>
    </div>
        
    <div class="container2">
        
        <div class="navigationbar">
        <nav class="navbar">
            <ul>
                <li class="homebox">
                    <a href="./Home.html" class="home"> Home</a>
                </li>
                   <li class="aboutbox">
                    <a href="./About.html" class="about">About</a>
                </li>
                <li class="informationbox">
                    <a href="./Information.html" class="information">Information</a>
                </li>
                <li class="rulesbox">
                    <a href="./OurRules.html" class="safetyrules">Our Rules</a>
                </li>
                   <li class="contactbox">
                   <a href="./Contact.html  " class="contact">Contact</a>
                </li>
            </ul>
        </nav>
        </div>
    
    <div class="oursafetyrules"> 
        <p>Motorsports are inherently dangerous. These Rules are in no way a guarantee against injury or death to participants, spectators or others. You can reduce risk by driving well, properly using superior safety gear, paying attention, and reporting unsatisfactory issues to the event officials. Drivers are responsible for ensuring that the vehicle being used is properly prepared for operation under elevated acceleration, braking and cornering forces. Drivers must have a Technical Inspection (Tech) Sheet completed and available to present to an SCCA Official.
        Entrants are reminded that there is a considerable gap between a minimum standard and the best protection that current technology can provide. It is recommended that seats, restraint systems, roll bars and helmets meet the highest safety standards possible.
        National Time Trials Events and some SCCA Regions require more than the minimum safety required by these Rules. In these cases, there are two additional Safety Levels.</p>
        <h3>1. SAFETY LEVEL 1</h3>
        <h4>1. All Vehicles</h4>

        <ol type="1">
            <!--primer elemento lista-->
        <li>1. Seats and Seat belts</li>
            <ol type="A">
               <li>A. All vehicles must provide factory original (or better) seats that are securely mounted.</li>
               <li>B. All vehicles must have seat belts with a minimum of three (3) mounting points mounted in accordance with manufacturers’ recommendations when applicable (SFI or FIA rated are recommended).</li>
               <li>C. When in-car coaches are utilized, any seat and restraints used by the coach shall match or exceed those used by the driver.</li>
               </ol>
            <!--segundo elemento lista-->
        <li>2. Interior</li>
            <ol type="A">
               <li>A. The interior and trunk must be emptied and clear of all loose items, including floor mats which are not secured with clips or fasteners.</li>
            </ol>   
            <!--tercer elemento lista-->
        <li>3. Brakes</li>
            <ol type="A">
               <li>A.Brake pads or shoes should not be more than 50% worn at the start of an event and should not ever be more than 85% worn during competition.</li>
               <li>B. Brake fluid must be clean and full (DOT 4 recommended).</li>
               <li>C. Vehicles must have at least one working brake light.</li>
               <li>D. There must be no brake fluid leaks.</li>
               <li>E. Rotors and drums must be in good condition without cracks or discoloration.</li>
            </ol>   
            <!--cuarto elemento lista-->
        <li>4. Tires and Wheels</li>
            <ol type="A">
               <li>A. Tires must be in good condition with adequate tread and speed rating.</li>
               <li>B. All lug nuts, wheel bolts or wheel nuts must be present and torqued to spec.</li>
               <li>C. Hub caps, or any wheel cosmetic accessory which is not positively secured by clip or fastener, must be removed.</li>
               <li>D. Wheels must not have cracks or structural damage.</li>
            </ol>   
            <!--quinto elemento lista-->
        <li>5. Suspension and Steering</li>
            <ol type="A">
               <li>A. Wheel bearings must not have play.</li>
               <li>B. Ball joints must be in good condition.</li>
               <li>C. Steering must not have excessive play.</li>
               <li>D. Shocks/Struts must not be leaking.</li>
            </ol>
            <!--sexto elemento lista-->
        <li>6. Engine and Drivetrain</li>
            <ol type="A">
               <li>A.All fluids must be at correct levels. Fluid caps must be tight and secure, overflow containers present and there must not be any fluid leaks.</li>
               <li>B. Belts and hoses must be in good condition.</li>
               <li>C. Battery must be secured, and battery terminals covered. (Note: flexible battery hold-downs, such as bungee cords/straps, are not acceptable.)</li>
               <li>D. Exhaust system must be functional. (There may be sound restrictions.)</li>
               <li>E. Throttle must have a quick, positive return.</li>
            </ol>
            <!--septimo elemento lista-->
        <li>7. Roll Bars</li>
            <ol type="A">
                <li>A. When present, any roll bar must be properly installed and securely attached.</li>
                <li>B. When present, any part of a roll bar able to be contacted by a driver’s head must have padding.</li>
            </ol>    
            <!--octavo elemento lista-->
        <li>8. Other</li>
            <ol type="A">
               <li>A. Glass must not have any severe cracks.</li>
               <li>B. A rear-view device must be present, and any rear-view mirrors must be secure and free of cracks.</li>
               <li>C. Any video cameras/recording devices must be securely mounted.</li>
            </ol>
                
    </div>
        
</div>
</body>
</html>        